name: tests
on:
  push:
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 0 * * 1'

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        nimversion:
        - 1.4.8
        - git:6b97889f44d06f66
        os:
        - ubuntu-latest
        - macOS-latest
        - windows-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - uses: iffy/install-nim@v3.2.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        version: ${{ matrix.nimversion }}
    - name: Test
      run: |
        nimble test
        nimble refresh
